<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href='/css/styles.css' />
    <title>Weather App</title>
</head>

<body>
    <div class="container">

        {{>header}}

        <h1>{{weather}}</h1>

        <form>
            <div>
                <input name="address" id="address" />
                <input type="submit" name="Submit" onclick="formSubmitted(event)" />
            </div>
        </form>

        <p id="msg1">
        </p>
        <p id="msg2">
        </p>
    </div>

    {{>footer}}
    <script src="/js/common.js"></script>

</body>

</html>